﻿@using Models
@model IEnumerable<Models.Kkm>

@{
    ViewBag.Title = "Все кассы";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css"/>

<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
    
    .form-control {
        margin: 5px;
    }
</style>

<div class="container-fluid">
    <table style="font-size: .7em" class="table table-striped table-bordered table-hover" id="myDataTable">
        <thead>
        <tr>
            <th>Название кассы</th>
            <th>Серийный номер</th>
            <th>Описание</th>
            <th>Текущий статус</th>
            <th>Дата последней операции</th>
            <th>Режим</th>
            <th>Организация</th>
            <th>ИИН/БИН</th>
            <th>Адрес кассы</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Kkm item in @Model)
        {
            <tr>
                <td style="vertical-align: middle">@item.Name</td>
                <td style="vertical-align: middle">@item.SerialNumber</td>
                <td style="vertical-align: middle">@item.Description</td>
                <td style="vertical-align: middle">@item.CurrentStatus</td>
                <td style="vertical-align: middle">@item.LastDateOperation</td>
                <td style="vertical-align: middle">@item.Mode</td>
                <td style="vertical-align: middle">@item.NameOrg</td>
                <td style="vertical-align: middle">@item.Iin</td>
                <td style="vertical-align: middle">@item.Address</td>
            </tr>
        }
        </tbody>
    </table>
</div>

