﻿@using System.Security.Claims
@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Fiscal</title>

    <script src="https://kit.fontawesome.com/287d7e0b34.js" crossorigin="anonymous"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fiscal <i class="fas fa-coins"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("user"))
                        {
                            <li>
                                <a class="btn btn-success mr-2" asp-controller="InitializeCashDesk" asp-action="RegisterCashDesk">Добавить кассу</a>
                            </li>
                        }
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </button>
                                @if (User.IsInRole("admin"))
                                {
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-controller="Account" asp-action="RegisterMerch">Создать организацию</a>
                                        <a class="dropdown-item" asp-controller="Roles" asp-action="UserList">Управление пользователями</a>
                                        <a class="dropdown-item" asp-controller="Roles" asp-action="Index">Управление ролями</a>
                                        <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account" asp-route-id="@userId">Изменить пароль</a>
                                        <a class="dropdown-item" asp-controller="InitializeCashDesk" asp-action="AllCashDesk">Кассы</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-controller="Operator" asp-action="Add" asp-route-id="@userId">Добавить оператора</a>
                                        <a class="dropdown-item" asp-controller="Operator" asp-action="GetOperators" asp-route-id="@userId">Управление операторами</a>
                                        <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account" asp-route-id="@userId">Изменить пароль</a>
                                        <a class="dropdown-item" asp-controller="InitializeCashDesk" asp-action="GetCashDesk" asp-route-id="@userId">Мои кассы</a>
                                    </div>
                                }
                            </div>
                        </li>

                        <li>
                            <form method="post" asp-controller="Account" asp-action="LogOff">
                                <input class="btn btn-outline-secondary" type="submit" value="Выход"/>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - made with <i class="fas fa-heart"></i> Attractor School Students - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
</environment>

<script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<script src="~/js/dataTables.bootstrap.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>