﻿@{
    ViewData["Title"] = "Главная";
}

@if (User.IsInRole("user"))
{
    <div id="cube-loader" style="display: none">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around align-items-stretch">
        <div class="col-sm-12 border py-4">
            <form class="form-inline my-3">
                <div class="form-group">
                    <label for="shiftInput" class="mr-2">Номер смены</label>
                    <input id="shiftInput" type="text" class="form-control" placeholder="Введите номер смены" required="required">
                </div>
                <button type="submit" class="btn btn-primary ml-2">Получить отчет</button>
            </form>

            <ul class="list-group">
                <li style="cursor: pointer" class="list-group-item active" data-toggle="tooltip" data-placement="top"
                    title="Отчет выгружается по номеру введенный смены">
                    Отчет по смене
                </li>
                <li class="list-group-item">Дата открытия: </li>
                <li class="list-group-item">Дата закрытия: </li>
                <li class="list-group-item">Кол-во оплат: </li>
                <li class="list-group-item">Сумма оплат: </li>
                <li class="list-group-item">Кол-во отмен: </li>
                <li class="list-group-item">Сумма отмен: </li>
                <li class="list-group-item">Итог: </li>
            </ul>
        </div>
    </div>
}