﻿@using Models
@model IEnumerable<Models.User>

@{
    ViewBag.Title = "Все операторы";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css"/>

<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
    
    .form-control {
        margin: 5px;
    }
</style>

@if (Model.Any())
{
    <div class="container-fluid">
        <table style="font-size: .7em" class="table table-striped table-bordered table-hover" id="myDataTable">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Почтовой адресс</th>
                <th>Касса</th>
                <th>Адрес кассы</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (User user in Model)
            {
                <tr>
                    <td style="min-width: 200px; vertical-align: middle">@user.Fio</td>
                    <td style="vertical-align: middle">@user.Email</td>
                    <td style="vertical-align: middle">@user.KkmId</td>
                    <td style="min-width: 150px; vertical-align: middle">@user.Address</td>
                    <td style="vertical-align: middle">
                        <a class="btn btn-primary btn-sm text-white w-100 mb-2" asp-controller="Account" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                        <form method="post" asp-controller="Operator" asp-action="Delete">
                            <input name="OwnerId" value="@user.OwnerId" hidden="hidden"/>
                            <input name="UserId" value="@user.Id" hidden="hidden"/>
                            <button type="submit" class="w-100 btn btn-primary btn-sm text-white">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <h4 class="text-center">Список операторов пуст</h4>
}